---
layout: posts
permalink: /posts/
title: "Posts"
author_profile: true
header:
  overlay_image: /assets/images/background-indo-trees.jpg
  overlay_filter: 0.4
  caption: "Photo by [**Lucija Ros**](https://unsplash.com/photos/123uADXN-JY) on Unsplash"
---
{% for post in site.posts %}
    {% assign currentDate = post.date | date: "%Y" %}
    {% if currentDate != myDate %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2 class="archive__subtitle">{{ currentDate }}</h2>
        <ul>
        {% assign myDate = currentDate %}
    {% endif %}
    {% include archive-single.html %}
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}
