---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// ** CUSTON CSS **

// LINK ANIMATIONS

$link-color-main: #6690bd;
$link-color-dark: #386ca3;
$link-color-light: #e6f2ff;

.sort__by a, .page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote, .notice a, .notice--primary a, .notice--info a, .notice--warning a, .notice--danger a, .notice--sucess a){
  color: $link-color-dark;
  text-decoration: none;
  position: relative;
  background-image: linear-gradient($link-color-light, $link-color-light); // allows for wrapped text because many properties can modify background-image
  background-position: 0 100%; // first value = horizontal, second value = vertical, positions it to the bottom, allows for bottom-to-up animation
  background-repeat: no-repeat;
  background-size: 100% 0; // first value = width, second value = height, hides background
  transition: background-size 0.25s ease-in-out;
}

// underline page__content links
.page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote, .notice a, .notice--primary a, .notice--info a, .notice--warning a, .notice--danger a, .notice--sucess a){
  text-decoration: underline $link-color-main solid 0.15em;
  -webkit-text-decoration-line: underline $link-color-main solid 0.15em;
  text-underline-offset: 0.125em;
}

// a:hover
.sort__by a:hover, .page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote, .notice a, .notice--primary a, .notice--info a, .notice--warning a, .notice--danger a, .notice--sucess a):hover{
  color: $text-color;
  background-size: 100% 100%; // upon hover, it increases the height from 0 to 100%
}

// a:active
.sort__by a:active, .page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote):active{
  color: black;
}
