---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom CSS

// LINK ANIMATIONS

$link-color-main: #6690bd;
$link-color-dark: #386ca3;
$link-color-light: #e6f2ff;

.sort__by a, .page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote){
  color: $link-color-dark;
  position: relative;
  text-decoration: none;
  white-space: nowrap; /* ensures that hyperlink is on one line*/
}

.page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote){
  border-bottom: 0.15em solid $link-color-main;
  padding-bottom: 0.05em;
}

// a:after
.sort__by a:after, .page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote):after{
  content: "";
  background: $link-color-light;
  z-index: -1;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: -1px;
  left: 0;
	transition: all .25s ease-in-out;
}

// a:hover
.sort__by a:hover, .page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote):hover{
  color: $text-color;
  text-decoration: none;
}

// a:hover:after
.sort__by a:hover:after, .page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote):hover:after{
  height: 100%;
}

// a:active
.sort__by a:active, .page__content a:not(.btn, nav a, .header-link, .footnote, .reversefootnote):active{
  color: black;
}
